main {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
  margin-left: auto;
}

.storage {
  max-width: 240px;
  min-width: 240px;
}

.generator-and-voiceOption {
  max-width: 320px;
  min-width: 320px;
}
