.talk-generators {
  /* background-color: red; */
  height: 400px;
  padding: 0 14px;
}

.generator {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.237);
}

.header {
  font-weight: bold;
  margin-bottom: 10px;
}

form {
}

.flex {
  display: flex;
}

.main input {
  width: 80%;
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg);
  margin-top: 5px;
  margin-bottom: 10px;
}

.main input[type="text"] {
  padding: 9px 5px;
}

.main input[type="file"] {
  padding: 5px;
}

.add {
  cursor: pointer;
  margin-left: 5px;
  line-height: 30px;
}

.icons {
  font-size: 2rem;
}
