.view {
  position: relative;
  flex-grow: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-sizing: border-box;
}

.play {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px 20px;

  border-radius: 100px;
  background-color: white;
  padding: 5px 10px 2px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.472);
  cursor: pointer;
}

.play .icon {
  font-size: 2rem;
  color: var(--kakao);
}
