.viewer {
  flex-grow: 1;
  padding-bottom: 20px;
  overflow-y: hidden;
}

.messages {
  height: 100%;
  padding: 0 20px;
  overflow-y: scroll;
}

.message {
  width: fit-content;
  padding: 4px 10px;
  border-radius: 12px;

  margin-bottom: 5px;
}

.my-message {
  background-color: var(--my-message-bg);
  margin-left: auto;
}

.other-message {
  background-color: var(--other-message-bg);
  margin-right: auto;
}
